@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
   --darkCyan: hsl(185, 75%, 39%);
   --grayishBlue: hsl(227, 10%, 46%);
   --desaturatedBlue: hsl(229, 23%, 23%);
   --darkGray: hsl(0, 0%, 59%)
}

body {
  font-family:'Kumbh Sans', sans-serif;
  background-color: var(--darkCyan);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#bg-top{
 bottom: 40%;
 right: 50%;
 background-repeat: no-repeat, no-repeat;
 box-sizing: border-box;
 position: absolute;
}

#bg-bottom{
 top: 40%;
 left: 50%;
 background-repeat: no-repeat, no-repeat;
 box-sizing: border-box;
 position: absolute;
}

#card-container {
  font-family:'Kumbh Sans', sans-serif;
  position: relative;
  width: 22%;
  height: 52vh;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main {
  background-color: white;
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 0;
  margin: 0;
  box-shadow: var(--grayishBlue);
}

.bold-text {
  color: black;
}

#age {
  padding-left: 0.2rem;
  color: var(--grayishBlue);
  font-weight: 500;
}

#city {
  color: var(--grayishBlue);
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.6rem;
  margin-bottom: 1.3rem;
}

#activities {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

#activities .light-text{
  font-size: 0.6rem;
  font-weight: 2px;
  padding-top: 0.5rem;
  color: var(--grayishBlue);
}

#item1,
#item2,
#item3 {
 padding: 0rem 1rem;
}

#card-cover {
  position: relative;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}

#profile-img {
position: relative;
  top: -60px;
  left: 90px;
border: 5px white solid;
border-radius: 50%;
}

#profile-div {
  display: inline-block;
  position: absolute;
}

#card-details {
 margin-top: 4rem;
}

#id-box {
 text-align: center;
 margin-bottom: 0rem;
}

@media only screen and (max-width: 600px){

body {
  overflow: hidden;
  height: 80vh;
}
#card-container {
  width: 75%;
  height: 45vh;
  position: relative;
}
#profile-img {
left: 80%;
border: 5px white solid;
border-radius: 50%;
}
#bg-bottom{

  position: fixed;
}
}